.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.removeButton {
  margin-left: 16px;
  padding: 0;
  min-width: unset;
}

.suffix {
  color: #a2a7b9;
}

.error {
  color: #f96c5a;
  border-color: #f96c5a;
}
