.root {
  display: flex;
  flex-direction: column;
  background-color: #2b273b;
  color: #ffffff;
  overflow: scroll;
  padding: 0 10px;
  border-radius: 8px;
}

.labelDisabled {
  color: #a2a7b9;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contentWrapper {
  padding: 0 0 10px 0;
}

.headerWrapper {
  padding: 0;
}

.cell {
  height: 30px;
  padding: 0;
  color: #ffffff;
  text-wrap: nowrap;
  font-size: 12px;

  & input {
    height: auto;
    color: #ffffff;
    font-size: 12px;
  }
}

.tableHeader {
  th {
    border: none;
  }
}

.tableContent {
  tr td {
    &:not(:last-child) {
      padding-right: 10px;
    }
  }
}

.profitCell {
  width: 20%;
}

.priceCell {
  width: 50%;
}

.amountCell {
  width: 20%;
}

.addTargetButton {
  margin-top: 8px;
}

.projectedProfitWrapper {
  display: flex;
  text-wrap: nowrap;
  margin-top: 24px;
  & > div {
    flex-basis: 100%;
    border-bottom: 1px dashed #818c99;
  }
}

.validationError {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin-top: 8px;
  color: #f96c5a;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #333545;
}
