.root {
  background-color: #221f2f;
  border-radius: 8px;
  padding: 10px;
  color: #a2a7b9;
}

.content {
  display: grid;
  row-gap: 16px;
}

.title {
  margin-bottom: 12px;
}

.submit {
  margin: 16px 0 6px;
}
